[project]
	description = Workspace files for TeamMentor Eclipse Plugin
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/FilippoR (filippor)
[access "refs/for/refs/*"]
	read = group user/FilippoR (filippor)
	push = group user/FilippoR (filippor)
	label-Code-Review = -2..+2 group user/FilippoR (filippor)
	label-Verified = -1..+1 group user/FilippoR (filippor)
	rebase = group user/FilippoR (filippor)
	removeReviewer = group user/FilippoR (filippor)
	submit = group user/FilippoR (filippor)
[access "refs/heads/*"]
	read = group user/FilippoR (filippor)
	create = group user/FilippoR (filippor)
	push = +force group user/FilippoR (filippor)
	pushMerge = group user/FilippoR (filippor)
[access "refs/tags/*"]
	push = +force group user/FilippoR (filippor)
	pushTag = group user/FilippoR (filippor)
	pushSignedTag = group user/FilippoR (filippor)
