<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>   
   <extension point="org.eclipse.ui.views">
      <category name="TeamMentor Views"
            	id="TeamMentor_Views">
      </category>
      <view
            allowMultiple="true"
            category="TeamMentor_Views"
            class="tm.eclipse.ui.views.SimpleEditor"
            icon="images/icons/TM.ico"
            id="g2.scripts.views.SimpleEditor"
            name="Write TeamMentor Script"
            restorable="false">
      </view>
      <view name			= "Web Browser"
            icon			= "images/pngs/script_edit.png"
            category		= "TeamMentor_Views"
            class			= "tm.eclipse.ui.views.DefaultPart_WebBrowser"
            id				= "g2.scripts.views.DefaultPart_WebBrowser"
            allowMultiple 	= "true"
            restorable 		= "false">
      </view>
      <view name			= "Eclipse Panel"
            icon			= "images/icons/TM.ico"
            category		= "TeamMentor_Views"
            class			= "tm.eclipse.ui.views.Eclipse_Panel"
            id				= "tm.eclipse.ui.views.Eclipse_Panel"
            allowMultiple 	= "true"
            restorable 		= "false">
      </view>
   </extension>
   
   
   
  <extension point="org.eclipse.ui.preferencePages">
     <page
           class="tm.eclipse.ui.PluginPreferences"
           id="teammentor.eclipse.plugin.fortify.preferences.PluginPreferences"
           name="TeamMentor Preferences">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="tm.eclipse.ui.PreferenceInitializer">
     </initializer>
  </extension>
 
    <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="TeamMentor Action Set"
            visible="true"
            id="TM.actionSet">
         <menu
               label="&amp;TeamMentor (Old)"
               id="teamMentorMenu">
            <separator name="teammentorGroup"></separator>
         </menu>
         
         <action
               class="tm.eclipse.ui.actions.OpenSimpleEditor"
               icon="images/pngs/script_go.png"
               id="g2.scripts.actions.OpenSimpleEditor"
               label="&amp;Util - Write Script (TeamMentor DSL)"
               menubarPath="teamMentorMenu/teammentorGroup"
               tooltip="Util - Write Script (TeamMentor DSL)">
         </action>  
                
         <action
               class="tm.eclipse.ui.actions.OpenPropertiesPage"
               id="g2.scripts.actions.OpenPropertiesPage"
               label="&amp;Open Properties Page"
               menubarPath="teamMentorMenu/teammentorGroup"
               tooltip="&amp;Open properties Page">
         </action>
         
         <action
               label="&amp;Open TeamMentor.net"
               icon="images/icons/TM.ico"
               class="tm.eclipse.ui.actions.OpenTeamMentor"
               tooltip="Open TeamMentor.net"
               menubarPath="teamMentorMenu/teammentorGroup"               
               id="g2.scripts.actions.OpenTeamMentor">
         </action>
         <action
               class="tm.eclipse.ui.actions.EnableTeamMentor"
               icon="images/icons/TM.ico"
               id="g2.scripts.actions.EnableTeamMentor"
               label="&amp;Open TeamMentor View"
               menubarPath="teamMentorMenu/teammentorGroup"
               tooltip="Open TeamMentor View">
         </action>
      </actionSet>
   </extension>
   
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="tm.eclipse.ui.Startup">
       </startup>
    </extension>
    <extension point="org.eclipse.ui.menus">
       <menuContribution allPopups="false" locationURI="menu:org.eclipse.ui.main.menu">
          <menu label="TeamMentor">
             <command commandId="tm.eclipse.handlers.ShowAboutPlugin"
                   	  icon="images/pngs/script_go.png"
                   	  label="About TeamMentor Plugin"
                   	  style="push">
                <visibleWhen checkEnabled="true" />
             </command>
             <command
                   commandId="tm.eclipse.commands.OpenTeamMentorWebsite"
                   icon="images/pngs/script_go.png"
                   label="Open TeamMentor Website"
                   style="push">
             </command>
          </menu>
       </menuContribution>
       
       
    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command 
             defaultHandler="tm.eclipse.handlers.ShowHelpPage"
             id="tm.eclipse.commands.ShowHelpPage"
             name="ShowHelpPage">
       </command>
       <command
             defaultHandler="tm.eclipse.handlers.OpenTeamMentorWebsite"
             id="tm.eclipse.commands.OpenTeamMentorWebsite"
             name="OpenTeamMentorWebsite">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="tm.eclipse.handlers.ShowHelpPage"
             commandId="tm.eclipse.handlers.ShowAboutPlugin">
       </handler>
    </extension>

</plugin>
