<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="G2 Script (Groovy)"
            extensions="g2"
            icon="icons/TM.ico"
            contributorClass="g2.scripts.editors.MultiPageEditorContributor"
            class="g2.scripts.editors.MultiPageEditor"
            id="g2.scripts.editors.MultiPageEditor">
      </editor>
   </extension>
   
   
   <extension point="org.eclipse.ui.views">
      <category name="G2 (Groovy)"
            	id="New_G2_View">
      </category>
      <view name="Write TeamMentor Script"
            icon="icons/TM.ico"
            category="New_G2_View"
            class="g2.scripts.views.SimpleEditor"
            id="g2.scripts.views.SimpleEditor">
      </view>
      <view name			= "Web Browser"
            icon			= "icons/TM.ico"
            category		= "New_G2_View"
            class			= "g2.scripts.views.DefaultPart_WebBrowser"
            id				= "g2.scripts.views.DefaultPart_WebBrowser"
            allowMultiple 	= "true"
            restorable 		= "false">
      </view>
      <view name			= "Panel"
            icon			= "icons/TM.ico"
            category		= "New_G2_View"
            class			= "g2.scripts.views.DefaultPart_Panel"
            id				= "g2.scripts.views.DefaultPart_Panel"
            allowMultiple 	= "true"
            restorable 		= "false">
      </view>
   </extension>
   
   
   <extension point="org.eclipse.ui.newWizards">
      <category
            name="G2 Wizard"
            id="New_G2_Wizard">
      </category>
      <wizard
            name="Write G2 Script"
            icon="icons/TM.ico"
            category="New_G2_Wizard"
            class="g2.scripts.wizards.SampleNewWizard"
            id="g2.scripts.wizards.SampleNewWizard">
      </wizard>
   </extension>
   
  <extension point="org.eclipse.ui.preferencePages">
     <page
           class="teammentor.eclipse.plugin.fortify.preferences.PluginPreferences"
           id="teammentor.eclipse.plugin.fortify.preferences.PluginPreferences"
           name="TeamMentor Preferences">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="teammentor.eclipse.plugin.fortify.preferences.PreferenceInitializer">
     </initializer>
  </extension>
  
    <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="Plug2.actionSet">
         <menu
               label="&amp;TeamMentor"
               id="teamMentorMenu">
            <separator name="teammentorGroup"></separator>
         </menu>
         <action
               class="g2.scripts.actions.OpenSimpleEditor"
               id="g2.scripts.actions.OpenSimpleEditor"
               label="&amp;Util - Write Script (TeamMentor DSL)"
               menubarPath="teamMentorMenu/teammentorGroup"
               tooltip="Util - Write Script (TeamMentor DSL)">
         </action>
         <action
               class="g2.scripts.actions.OpenPropertiesPage"
               id="g2.scripts.actions.OpenPropertiesPage"
               label="&amp;Open properties Page"
               menubarPath="teamMentorMenu/teammentorGroup"
               tooltip="&amp;Open properties Page">
         </action>
         <action
               label="&amp;Open TeamMentor.net"
               icon="icons/tm.ico"
               class="g2.scripts.actions.OpenTeamMentor"
               tooltip="Open TeamMentor.net"
               menubarPath="teamMentorMenu/teammentorGroup"               
               id="g2.scripts.actions.OpenTeamMentor">
         </action>
         <action
               class="g2.scripts.actions.EnableTeamMentor"
               icon="icons/tm.ico"
               id="g2.scripts.actions.EnableTeamMentor"
               label="&amp;Open TeamMentor View"
               menubarPath="teamMentorMenu/teammentorGroup"
               tooltip="Open TeamMentor View">
         </action>
      </actionSet>
   </extension>

</plugin>
